*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif; 
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,0,51,0.9),rgba(0,0,51,0.9)),url(images/surgery.jpg) ;
    background-position: center;
    background-size: cover;
   display: flex;    
   align-items: center;
   justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: black;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}

.btn{
    font-family: "roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: red;
    width: 160px;
    padding: 20px;
    text-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    -webkit-transition-duration:0.3s ;
    transition-duration:0.3s;
    -webkit-transition-property: box-shadow, trasnform;
    transition-property: box-shadow, trasnform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);


}