<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hospital Locator</title>
  </head>
  <body>
    <h1>Hospital Locator</h1>
    <form method="get" action="{{ url_for('hospitals')}}">
      <button type="submit">Find Nearby Hospitals</button>
      <input type="hidden" id="latitude" name="latitude" value="">
      <input type="hidden" id="longitude" name="longitude" value="">
    </form>
    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        document.getElementById("latitude").value = position.coords.latitude;
        document.getElementById("longitude").value = position.coords.longitude;
      }

      window.onload = getLocation;
    </script>
  </body>
</html>