.list-vertical {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-vertical li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33% - 20px);
  color: red;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .list-vertical li {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .list-vertical li {
    width: 100%;
  }
}
